{% extends "books/layout.html" %}

{% block content%}
    <h3 class="text-center">List of books</h3>
    <hr>
    {%if books %}
        <ul class="list-group">
            {% for book in books %}
                <li class="list-group-item">
                    <h5><a href="{% url 'books:books_detail' book.slug %}">{{book.title}}</a></h5>
                    <p>{{ book.full_name_author }} - {{ book.author.email }}</p>
                    <p>{{ book.created_at }}</p>
                </li>
            {% endfor %}
        </ul>
        <div class="pagination my-5 mx-auto">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                {% for x in page_obj.paginator.page_range %}
                    <li><a href="?page={{x}}">{{x}}</a></li>
                {% endfor %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else  %}
        <div class="alert alert-info">
            There's no books
        </div>
    {% endif %}

{% endblock %}
