{% extends 'blog/base.html' %}

{% block content %}
    <div id="app">
        <h4>[[ message ]]</h4>
        <ul>
            <li v-for="user in usuarios">
                <h4>[[ user.id ]]</h4>
                <h3>[[ user.name ]]</h3>
            </li>
            <button v-on:click="sendData()" type="button">Enviar</button>
        </ul>
    </div>
{% endblock %}

{% block js %}
<script>
    var app = new Vue({
        el: "#app",
        delimiters: ["[[","]]"],
        data: function() {
            return {
                message: 'hola desde vue',
                usuarios: []
            }
        },
        mounted: function() {
            this.getData();
        },
        methods: {
            getData(){
                fetch('/blog/prueba')
                .then( resp => resp.json() )
                .then( data => {
                    this.usuarios = data.usuarios;
                    console.log(data)
                });
            },
            sendData(){
                fetch('/blog/prueba/',{
                    method: 'post',
                    headers: {
                        "X-CSRFToken": '{{ csrf_token }}',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        id:3,
                        name: 'maria',
                    })
                })
                .then( resp => resp.json() )
                .then( data => {
                    console.log(data)
                });
            }
        }
    })
</script>
{% endblock %}
